html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0d0c0e;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
   background-color: #fff;
   min-width: 100%;
   min-height: 200px;
 }

 .card{
    display: flex;
 }

 .card--content{
    
    min-width: 350px;
 }

 .card{
    overflow-x: auto;
 }

 

 /*.card::-webkit-scrollbar{
    display: none;
 }
 */